<section class="footer">
    <main>
        <img src="/assets/img/leaf.png" alt="">
        <article>
            <h2>
                Drop in and say hello!
            </h2>
            <p>
                    For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  
            </p>
            <p class="socials">
                <a href="https://www.facebook.com/amisfoodcafe/" target="_blank">
                    <img src="/assets/img/facebook.svg" alt="">
                </a>
                <a href="https://www.instagram.com/amisfoodcafe/" target="_blank">
                    <img src="/assets/img/instagram.svg" alt="">
                </a>
                <a href="#" target="_blank">
                    <img src="/assets/img/twitter.svg" alt="">
                </a>
                <a href="https://www.zomato.com/ncr/amis-food-cafe-sector-49-gurgaon" target="_blank">
                    <img src="/assets/img/zomato.svg" alt="">
                </a>
            </p>
            <small>
                &copy; Ami's Cafe 2019.
            </small>
        </article>
    </main>
</section>