---
layout: default
---

{% include hero.html %}

<section class="intro">
    <main>
        <h1>Delicious food.<br>To fit your lifestyle.</h1>
        <p>
            For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  At Amis, we love food, lots of different food, just like you.
        </p>
        <p>
            We truly believe that vegetarian cuisine is attractive, surprising, healthy and pleasant for everyone. 
        </p>
        <p>
            At Ami’s we aim to be that stimulus for the senses, provoking sensations that nurture and inspire us.
        </p>
            
            
            
        
    </main>
    <img src="/assets/img/veg.png" alt="">
</section>

<section class="beta">
    <main>
        <h1>Baking happiness for you always.</h1>
        <p>
                For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  At Amis, we love food, lots of different food, just like you.
        </p>
        <p>
    
        We truly believe that vegetarian cuisine is attractive, surprising, healthy and pleasant for everyone.
                
        </p>
    </main>
</section>